body
{
	font-size: 16px;
}


img.minus
{    
    vertical-align:middle;            
    cursor:pointer;            
    position:relative; 
    left:-42px; 
    top:-2px;
    min-width:16px;    
    max-height:16px;    
}

img.verseLevel.minus
{
    left:-25px; 
}

span.levelTitleText
{
    position:relative; 
    left:-20px; 
}

a.verseLink
{
    position:relative; 
    left:-20px; 
}

table.pageTitleText
{
    font-size:21px;
    font-weight:bold;        
    white-space:nowrap;
} 
.pageTitleLink
{
    font-size:13.3px;
}
td.pageTitleText
{
    padding-right:5px;
}
td.pageTitleLink
{    
    padding-top:4px;
}
a.pageTitleLink
{
    padding-left:1px;
    padding-right:1px;
}
table.pageTitleRightBlock
{   
    width:100%;    
    text-align:right;
    position:absolute;    
    top:12px;
    left:0px;
}
a.chapterNotesPage
{
    font-size:13.3px;	
}
td.chapterNotesPage
{	
	white-space:nowrap;
	padding-right:22px;
}
td.filter
{
    padding-right:10px;
    text-align:left;
}
div.filterLink
{
    font-size:13.3px;	
    text-align:right;
    padding-right:12px;
}
input.detailedNotes, label.detailedNotes
{	
	white-space:nowrap;			
	cursor:pointer;  
}
div.detailedNotes
{
    padding-top:10px;
}
label.detailedNotes 
{    
    vertical-align:text-top;    
}
div.verseLevel
{
    margin-left:18px;    
}            
div.verseLevel > .levelChilds
{
    margin-left:15px;    
}
.subLinks
{
    margin-left:20px;        
}                  
.subLink
{   
    padding-left:5px;    
}
.subLinkMultiVerse
{
    padding-left:4px;
    white-space:nowrap;
    font-style:italic;
}
.levelChilds
{
    margin-top:3px;
    margin-bottom:3px;
    padding-left:23px;
}
.levelTitle
{                
    margin-top:3px;
    margin-bottom:3px;    
    display:inline;
    
}                  
.pageLevelTitle
{                
    margin-top:3px;
    margin-bottom:3px;
    display:inline;
}           
a.detailed
{
    color:Gray;
}
.collapsedLevel
{
    display:none;
}
.hiddenDetailed
{
    display:none;
}
.hiddenLevel
{
    display:none;
}
.hiddenByTrackbarFilter
{
    display:none;
}
.hiddenNotebook
{
    display:none;
}
.hiddenChildLink
{
    display:none;
}
.importantVerseLink
{
    font-weight:bold;
}
li.level6:before, li.level7:before 
{
    display:inline-block; 
    width: 0em; 
    position:relative; 
    left:-0.5em; 
    content: ')'
}
li.level8:before, li.level9:before 
{
    display:inline-block; 
    width: 0em; 
    position:relative; 
    left:-0.5em; 
    content: ']'
}
li.level1
{
    list-style-type:upper-roman;
}
li.level2
{
    list-style-type:upper-alpha;
}
li.level3
{
    list-style-type:decimal;
}
li.level4
{
    list-style-type:lower-alpha;
}
li.level5
{
    list-style-type:lower-roman;
}
li.level6
{
    list-style-type:lower-alpha;
}
li.level7
{
    list-style-type:decimal;
}
li.level8
{
    list-style-type:lower-alpha;
}








body
{   
    background-color: #FFFFFF;
    font-family: Segoe UI, Arial;
}

.saveFilterSettingsLink
{
    padding-top:5px;
}
.filterTitle
{
    font-size: 8pt;               
    font-weight:bold;
}
table.notebooksFilter
{
    padding-top:0.3em;
}
td.notebooksFilter
{	
	white-space:nowrap;			
	cursor:pointer;    	
}
label.notebooksFilter
{
    vertical-align:top;
}

.filterPopup
{
    position: absolute;
    right: 0.75em;
    top: 2em;    
    z-index:1;
}
.filterPopup_background
{
    background: url(images/popup_shadow.png) no-repeat right bottom;
}
.filterPopup_controls
{
    width: 11.4375em; /* 183px */
    position: relative;
    top: -0.5em;
    left: -0.5em;    
    padding-top: 0.5em;
    padding-bottom: 0em;
    padding-left: 0.9375em;
    padding-right: 0em;    
    background-color: #FCFCFC;
    border: solid 1px #8996A5;
}
.filterPopup_header
{
    margin-bottom: 0.625em;
    padding-right: 0.9375em;
}
.filterPopup_section
 {
    clear: both;
    color: #3B3B3B;        
    overflow: hidden;
    padding-top: 0em;
 }
.filterPopup_label
{
    width: 50%; /* 80px; */    
    font-size: 0.8em; /* 10pt; */
    float: left;
}
.filterPopup_hr
{
    clear: both;    
    border-bottom: dashed 1px #8996A5;
    width: 10.3125em; /* 165px; */
}
.filterPopup_hrheight
{
    height: 0.625em;
}
.filterPopup_textsection
{
    clear: both;
    color: #3B3B3B;    
    font-size: 0.8em; /* 10pt; */
    padding-top: 0.3;
    padding-bottom: 0.3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
