table.pageTitleText
{
    font-size:15pt;
    font-weight:bold;        
    white-space:nowrap;
} 
.pageTitleLink
{
    font-size:small;
}
td.pageTitleText
{
    padding-right:5px;
}
td.pageTitleLink
{    
    padding-top:4px;
}
a.pageTitleLink
{
    padding-left:1px;
    padding-right:1px;
}
table.pageTitleRightBlock
{
    width:100%;
    text-align:right;
    position:absolute;
    padding-right:10px;
    top:12px;
}
.verseLevel
{
    margin-left:18px;    
}            
.verseLevel > .levelChilds
{
    margin-left:15px;    
}
.subLinks
{
    margin-left:20px;        
}                  
.subLink
{   
    padding-left:5px;    
}
.subLinkMultiVerse
{
    padding-left:4px;
    white-space:nowrap;
}
.levelChilds
{
    margin-top:3px;
    margin-bottom:3px;
    padding-left:23px;
}
.levelTitle
{                
    margin-top:3px;
    margin-bottom:3px;    
    display:inline;
}                  
.pageLevelTitle
{                
    margin-top:3px;
    margin-bottom:3px;
    display:inline;
}           
.hidden
{
    display:none;
}

a.chapterNotesPage
{
    font-size:small;	
}
td.chapterNotesPage
{	
	text-align:right;
	padding-right:5px;
	white-space:nowrap;
}
td.detailedNotes
{	
	text-align:right;
	padding-right:5px;
	white-space:nowrap;			
	cursor:pointer;    
}
input.detailedNotes 
{
    vertical-align:middle;
    margin-bottom:2px;
}
label.detailedNotes 
{    
    font-size:small;    
    font-weight:bold;
}
.importantVerseLink
{
    font-weight:bold;
}
.subLinkMultiVerse
{
    font-style:italic;
}
li.level6:before, li.level7:before 
{
    display:inline-block; 
    width: 0em; 
    position:relative; 
    left:-0.5em; 
    content: ')'
}
li.level8:before, li.level9:before 
{
    display:inline-block; 
    width: 0em; 
    position:relative; 
    left:-0.5em; 
    content: ']'
}
li.level1
{
    list-style-type:upper-roman;
}
li.level2
{
    list-style-type:upper-alpha;
}
li.level3
{
    list-style-type:decimal;
}
li.level4
{
    list-style-type:lower-alpha;
}
li.level5
{
    list-style-type:lower-roman;
}
li.level6
{
    list-style-type:lower-alpha;
}
li.level7
{
    list-style-type:decimal;
}
li.level8
{
    list-style-type:lower-alpha;
}
