<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <NotebookName>Holy Bible</NotebookName>
  <BibleSectionGroupName>Библия</BibleSectionGroupName>
  <StudyBibleSectionGroupName>Изучение Библии</StudyBibleSectionGroupName>
  <ResearchSectionGroupName>Тематические исследования</ResearchSectionGroupName>
  <DescriptionPageDefaultName>Комментарии</DescriptionPageDefaultName>
  <BookOverviewPageDefaultName>Общий обзор</BookOverviewPageDefaultName>
  <NotesPageDefaultName>Заметки</NotesPageDefaultName>
</Config>