<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BibleCommon.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BibleCommon.Settings>
            <setting name="NotebookName_Bible" serializeAs="String">
                <value>Holy Bible</value>
            </setting>
            <setting name="NotebookName_BibleComments" serializeAs="String">
                <value>Holy Bible</value>
            </setting>
            <setting name="NotebookName_BibleStudy" serializeAs="String">
                <value>Holy Bible</value>
            </setting>
            <setting name="SectionGroupName_Bible" serializeAs="String">
                <value>Библия</value>
            </setting>
            <setting name="SectionGroupName_BibleComments" serializeAs="String">
                <value>Изучение Библии</value>
            </setting>
            <setting name="SectionGroupName_BibleStudy" serializeAs="String">
                <value>Тематические исследования</value>
            </setting>
            <setting name="PageName_DefaultDescription" serializeAs="String">
                <value>Комментарии</value>
            </setting>
            <setting name="PageName_DefaultBookOverview" serializeAs="String">
                <value>Общий обзор</value>
            </setting>
            <setting name="PageName_Notes" serializeAs="String">
                <value>Заметки</value>
            </setting>
        </BibleCommon.Settings>
    </userSettings>
</configuration>